
body {
  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

.container {
	margin: 0 auto;
	width: 768px;
}
.main-header {
	font-size: 0;
  position: relative;
}
.main-navigation {

}
.main-navigation-list {
	margin:0;
	padding:0;
  margin-bottom: -35px;
}
.main-navigation-list-item-inf {
	display: inline-block;
	margin-right: 45px;
	margin-left: 46px;
	font-size: 14px;
	width: 95px;
  vertical-align: middle;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.main-navigation-list-item-media {
	display: inline-block;
	margin-right: 5px;
	font-size: 14px;
	width: 110px;
  vertical-align: middle;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.main-navigation-list-item-img {
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
	width: 138px;
  vertical-align: middle;
}
.main-navigation-list-item-card {
	display: inline-block;
	margin-right: 70px;
	font-size: 14px;
	width: 95px;
  vertical-align: middle;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.main-navigation-list-item-hostels {
	display: inline-block;
	margin-right: 46px;
	font-size: 14px;
	width: 80px;
  vertical-align: middle;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.list-item {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.index-logo img {
  margin-top: 75px;
}
.index-logo {
	background-image: url("../img/header.jpg");
	background-color: #d9ecf5;
	width: 768px;
	height: 507px;
	background-repeat: no-repeat;
	text-align: center;
  display: inline-block;
}
.index-logo::after {
  content: url("../img/bot.png");
  display: inline-block;
  width: 768px;
  height: 37px;
  margin-top: 40px;
}
.features {
	font-size: 0;
}
.features-item {
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 56px;
  width: 490px;
  text-align: center;
  margin-top: 50px;
}
.features-name {
	font-size: 21px;
}
.feat-name5 {
	font-size: 14px;
}
.index-content-city {
font-size: 0;
margin-bottom: 55px;
}
.index-content-title {
font-size: 21px;
text-align: center;
margin: 0;
}
.index-content-title-bridge {
font-size: 21px;
text-align: center;
margin: 0 0 29px 0;
}
.index-content-title-fact {
font-size: 21px;
text-align: center;
margin: 45px 0 0 0;
}
.sedona-nmbr {
font-size: 14px;
text-align: center;
margin: 28px 0 28px 0;
}
.sedona-life {
font-size: 14px;
text-align: center;
margin: 0;
}
.index-content-left {
}
.index-content-right {
float: right;
width: 512px;
}
.index-content-left-city {
float: left;
width: 256px;
min-height: 256px;
padding-right: 30px;
padding-left: 30px;
box-sizing: border-box;
background-color: #81b3d2;
text-transform: uppercase;
padding-top: 45px
}

.clearfix:after {
display: table;
content: '';
clear: both;
}

.index-content-plus {
font-size: 0;
margin: 0 46px 65px 46px;
}
.facts-size {
font-size: 14px;
text-align: center;
}
.index-content-left-house {
display: inline-block;
width: 165px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
margin-right: 90px;
}
.index-content-left-house::before {
content: url("../img/house.png");
display: inline-block;
width: 75px;
height: 76px;
}
.index-content-middle-food {
display: inline-block;
width: 165px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
margin-right: 90px;
}
.index-content-middle-food::before {
content: url("../img/burger.png");
display: inline-block;
width: 74px;
height: 76px;
}
.index-content-right-souvenirs {
display: inline-block;
width: 165px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
}
.index-content-right-souvenirs::before {
content: url("../img/souvenirs.png");
display: inline-block;
width: 64px;
height: 76px;
}
.index-content-right-img {
float: left;
height: 256px;
}
.index-content-left-bridge {
float: right;
width: 256px;
min-height: 256px;
padding-right: 30px;
padding-left: 30px;
box-sizing: border-box;
background-color: #81b3d2;
text-transform: uppercase;
padding-top: 45px;
}
.index-content-facts {
  font-size: 0;
  min-height: 256px;
  background-color: #eeeeee;
  width: 768px;
  margin: 0 auto;
}
.index-content-left-attractions {
display: inline-block;
width: 155px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
box-sizing: border-box;
margin-right: 100px;
margin-left: 46px;
}
.index-content-middle-road {
display: inline-block;
width: 155px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
box-sizing: border-box;
margin-right: 100px;
}
.index-content-right-tourists {
display: inline-block;
width: 155px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
box-sizing: border-box;
margin: 0 auto;
}
.order {
text-align: center;
margin-bottom: -120px;
}
.interesting {
font-size: 0;
text-align: center;
width: 435px;
margin: 0 auto;
}
.interesting-quest {
font-size: 30px;
margin: 55px 0 35px 0;
}
.search-hostel {
  position: fixed;
}
.date-hostel {
font-size: 14px;
text-align: center;
margin: 0 0 55px 0;
}
.index-content-middle-hotels a {
display: inline-block;
font-size: 21px;
background-color: #766357;
color: white;
width: 568px;
margin: 0 auto;
text-align: center;
text-transform: uppercase;
padding: 36px 0 36px 0;
position: relative;
}
.card {
  background-image: url("../img/card.jpg");
  background-repeat: no-repeat;
  width: 768px;
  min-height: 748px;
}
.search {
width: 568px;
text-align: center;
margin: 0 auto;
font-size: 0;
text-transform: uppercase;
position: relative;
background-color: white;
padding-top: 50px;
}
.date-go {
font-size: 14px;
margin-bottom: 28px;
}
.date-start {
font-size: 14px;
width: 345px;
text-transform: uppercase;
margin-left: 18px;
background-color: #f2f2f2;
border: 2px solid #f2f2f2;
min-height: 35px;
}
.icon-calendar {
position: absolute;
margin-left: -39px;
background-color: #f2f2f2;
border: 2px solid #f2f2f2;
margin-top: 5px;
color: #c2c2c2;
padding: 0;
font-size: 21px;
}
.date-out {
font-size: 14px;
margin-bottom: 28px;
}
.date-finish {
font-size: 14px;
width: 345px;
text-transform: uppercase;
margin-left: 16px;
background-color: #f2f2f2;
border: 2px solid #f2f2f2;
min-height: 35px;
}
.people {
  width: 455px;
  margin-bottom: 55px;

}
.adult {
display: inline-block;
margin-right: 20px;
font-size: 14px;
position: relative;
}
.adult button {
  position: absolute;
}
.adult-number {
  width: 113px;
  text-align: center;
  background-color: #f2f2f2;
border: 2px solid #f2f2f2;
min-height: 35px;
}

.children {
display: inline-block;
font-size: 14px;
}
.children button {
  position: absolute;
}
.icon-plus {
background-color: #f2f2f2;
border: 2px solid #f2f2f2;
margin-left: 57px;
margin-top: -32px;

}
.children-number {
  width: 113px;
  text-align: center;
    background-color: #f2f2f2;
border: 2px solid #f2f2f2;
min-height: 35px;
}
.icon-minus {
background-color: #f2f2f2;
border: 2px solid #f2f2f2;
margin-top: 9px;
}
.children .icon-plus{
  margin-left: 42px;
}
.found {
font-size: 21px;
color: white;
background-color: #81b3d2;
border: 0;
padding: 17px 195px 21px 195px;
margin-bottom: 55px;
}
.main-footer {
font-size: 0;
padding: 50px 25px 50px 60px;
background: rgba(254, 254, 254, 0.9);
}
.tag {
display: inline-block;
margin-right: 100px;
}
.tag-sedona {
  font-size: 21px;
text-decoration: none;
color: black;
}
.links {
display: inline-block;
margin-right: 80px;
}
.social-btn {
background-color: #81b3d2;
color: white;
text-decoration: none;
padding: 14px 14px 14px 14px;
}
.icon-twitter{
font-size: 19px;
margin-right: 5px;
}
.icon-facebook{
font-size: 19px;
margin-right: 5px;
}
.icon-youtube {
font-size: 19px;
}
.website {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  vertical-align: middle;
}
.link-academy {
display: inline-block;
font-size: 14px;

}
.link-academy a{
margin-bottom: 10px;
}
.about-hostel {
font-size: 0;
width: 768px;
height: 250px;
margin: 0 auto;
background-image: url("../img/headhostel.jpg");
background-color: #d4e7f0;
background-repeat: no-repeat;
color: white;
display: inline-block;
padding-top: 29px;
padding-bottom: 0;
}
.checkbox-infrastructure {
display: inline-block;
margin-right: 65px;
margin-left: 46px;
width: 140px;
text-transform: uppercase;
}
.type-house {
display: inline-block;
width: 135px;
margin-right: 65px;
text-transform: uppercase;
}
.rangebar {
display: inline-block;
width: 225px;
margin-right: 46px;
margin-top: 0;
}
.type {
font-size: 16px;
}
.infastructure {
padding-bottom: 20px;
margin: 0;
padding: 0;
}
.infrastructure-list {
margin:0;
padding:0;
}

.infrastructure-list-item {
font-size: 14px;
padding-bottom: 20px;
list-style-type: none;
}
.prise {
}
.icon {
  border: 0;
  text-decoration: none;
}
.filter-range {
  width: 270px;


  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 40px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.find {
font-size: 0;
border-bottom: 1px solid #e5e5e5;
padding: 35px 46px 35px 46px;
}
.find-about {
	display: inline-block;
	margin-right: 30px;
	width: 150px;
	font-size: 21px;
text-transform: uppercase;
}
.sort {
display: inline-block;
margin-right: 30px;
text-transform: uppercase;
}
.sort-list {
  display: inline-block;
  font-size: 12px;
  margin-right: 39px;
}
.sort a {
display: inline-block;
margin-right: 30px;
font-size: 12px;
text-decoration: none;
}
.sort-price {
  color: #81b3d2;
}
.sort-type {
  color: #b2b2b2;
  border-bottom: 2px dotted #81b3d2;
}
.sort-rait {
  color: #b2b2b2;
  border-bottom: 2px dotted #81b3d2;
}
.arrows {
display: inline-block;
font-size: 23px;
margin-left: 55px;
}
.icon-up-dir {
  text-decoration: none;
  color: #cccccc;
  display: inline-block;
  width: 10px;
}
.icon-down-dir {
  color: #81b3d2;
  text-decoration: none;
  display: inline-block;
  width: 10px;
}
.menu {
font-size: 0;
}
.hostel {
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
}
.photo-hostel {
display: inline-block;
margin-left: 46px;
margin-right: 24px;
}
.hostel-info {
display: inline-block;
width: 300px;
margin-right: 125px;
}
.hostel-name {
display: inline-block;
margin-right: 30px;
padding-bottom: 20px;
}
.hostel-name-title {
font-size: 21px;
}
.typeofhouse-host {
display: inline-block;
margin-right: 37px;
font-size: 14px;
}
.typeofhouse-motel {
display: inline-block;
margin-right: 62px;
font-size: 14px;
}
.typeofhouse-apart {
display: inline-block;
margin-right: 19px;
font-size: 14px;
}
.prise-about {
display: inline-block;
font-size: 14px;
}
.hostel-buttons {
display: inline-block;
font-size: 14px;
}
.hostel-buttons a {
margin-right: 10px;
}
.button-about {
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  background-color: #81b3d2;
  color: white;
}
.button-book {
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  background-color: #766357;
  color: white;
}
.rating {
display: inline-block;
}
.rating-stars {
padding-bottom: 50px;
text-align: right;
}
.icon-star{
font-size: 19px;
display: inline-block;
color: #81b3d2;
}
.rait {
font-size: 14px;
text-align: right;
padding: 8px 16px 8px 16px;
background-color: #f2f2f2;
color: #666666;
}